<h2 class="section-title">{{ .titles.key_dates}}</h2>

<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-size:125%
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }
</style>

<div class="schedule-tbl">
<table>
<thead>
<th align="left">Milestone</th>
<th align="left">Date</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"> <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdMVjVFye5tYR7utNCoSqo94jcou_m-RtPbD9E1hTTXAGup0w/viewform?usp=sf_link">Abstracts are due</a></td>
<td align="left">End of day July 10, 2019</td>
</tr>
<tr class="even">
<td align="left">Notification of abstracts selected via email</td>
<td align="left">August 1, 2019</td>
</tr>
<tr class="odd">
<td align="left">Registration closes</td>
<td align="left">September 13, 2019</td>
</tr>
<tr class="even">
<td align="left">Tutorials and Welcome Mixer</td>
<td align="left">September 12, 2019</td>
</tr>
<tr class="odd">
<td align="left">Keynotes, Talks, and Roundtable Discussions</td>
<td align="left">September 13 - 14, 2019</td>
</tr>
</tbody>
</table>
</div>

<!--
<h4>R / Medicine Sponsorship Package</h4>
<br/>
<li>
  <b>Sponsorship price: $4,000</b>
</li>
<br/><br/>

<h4>R / Medicine Sponsors receive the following benefits:</h4>
    <li>One full ticket to the conference</li>
    <li> table at the conference furnished with 2 chairs and power setup in a location that will attract attended          traffic</li>
    <li>Their corporate logo listed on the conference website and conference program</li>
    <li>The option to have their names associated with one of the scheduled listed below. Sponsors may choose any event     from the list that is still available when they commit</li>
<br/>
<br/>
<h4>List of scheduled social events:</h4>
    <li>Day 1 Conference Reception</li>
    <li>After Conference Drinks</li>
    <li>The pre-conference speakers dinner</li>
    <li>Breakfast Day 1</li>
    <li>Breakfast Day 2</li>
    <li>Break Day 1</li>
    <li>Break Day 2</li>
    <li>Lunch Day 1</li>
    <li>Lunch Day 2</li>
-->
