<h2 class="section-title">{{ .titles.registration}} and Pricing</h2>

<p><h3 class="section-title"><a href="https://cvent.me/en41V">Register Here</a></h3></p>

<h3 class="section-title">Prices</h3>

<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-size:125%
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }
</style>

<div class="schedule-tbl">
<table>
<thead>
<th align="left">Registration Type</th>
<th align="left">Price</th>
</tr>
</thead>
<tbody>
<tr class="even">
<td align="left">Student</td>
<td align="left">$150</td>
</tr>
<tr class="odd">
<td align="left">Academic</td>
<td align="left">$450</td>
</tr>
<tr class="even">
<td align="left">Industry</td>
<td align="left">$550</td>
</tr>
</tbody>
</table>
</div>

